.background {
  position: relative;
  &--full{
    content: "";
    display: block;
    padding: 8rem 0 9rem;
    background:$color-bg-full ;
    border-radius: 40px;
    position: absolute;
    right: 15px;
    left: 15px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &--haft {
    content: "";
    display: block;
    padding: 8rem 0 9rem;
    background: $color-bg-haft;
    border-radius: 40px;
    position: absolute;
    right: 15px;
    left: -60px;
    top: -55px;
    bottom: -55px;
    z-index: -1;
    width: 50%;
  }
  
}
