.box {
  padding: 2rem 0;
  // position: relative;
  &__title {
    position: relative;
    padding-bottom: 15px;
    font-size: $font-size-heading;
    font-weight: $font-semibold;
    color: $color-heading-title;
  }
  &__title::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    content: "";  
    width: 79px;
    height: 79px;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
  }
}

.box-title--color1::after {
  background-color: $color1;
}

.box-title--color2::after {
  background-color: $color2;
}

.box-title--color3::after {
  background-color: $color3;
}

.box-title--color4::after {
  background-color: $color4;
}









