.carousel__item {
  padding: 53px 55px;
 
}
.quote {
  &__text {
    font-size: $font-size-16;
    padding:26px 0;
  }
  &__author {
    font-size: 14px;
    font-weight: $font-semibold;
    color: $color-heading-title;
  }
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: $color-radion;
}
.carousel-indicators li.active {
  background-color: $color-radion-active !important;
}

.quote__icon {
  font-size: 100px;
  display: inline-block;
  width: 92px ;
  height: 92px ;
  background-color: $color1;
  position: relative;
  border-radius: 50%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.quote__icon::before {
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  color: #5E68F9;
  // color: $color-primary;

}
