.section-feature {
  padding: 8rem 0;
}

.feature__item {
  padding: 3rem;
  background-color: $color-white;
  border-radius: 20px;
  margin-top: 3rem !important;
  
}

.feature__title {
  font-size: $font-size-text;
  margin-bottom: 1rem;
  font-weight: $font-semibold;
  color: $color-heading-title;
}
